@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --fallback-b1: #fff;
}

body {
    color: #222831;
}

body.lock {
    overflow: hidden;
}

.loader {
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

.loader-circle {
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.online::before,
.offline::before,
.online-square::before,
.offline-square::before {
    position: absolute;
    z-index: 1;
    content: '';
    top: 4%;
    right: 4%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    outline: 2px solid white;
    background-color: oklch(64.8% 0.15 160 / 1);
}

.offline::before,
.offline-square::before {
    background-color: #e5e5e5;
}

.online-square::before,
.offline-square::before {
    top: -10%;
    right: -10%;
}
