@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-title: #d4d4d4;
    --color-text: #a1a1a1;
    --color-border: #ffffff1a;
    --color-grey: #ffffff0d;
    --color-yellow: #facc15;
    --color-green: #52881a;
    --color-red: #ff6467;
    --color-blue: #2b7fff;
    --color-bg: #0a0a0a;
    --color-code-bg: #161616;
    --color-line-number: #a4a4a4;
    --color-online: oklch(64.8% 0.15 160 / 1);

    --animate-enter: enter 0.2s forwards;
    --animate-leave: leave 0.2s forwards;
}

@keyframes enter {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes leave {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
    }
}

html {
    scrollbar-color: var(--color-text) transparent;
}

body {
    font-family: 'Geist', sans-serif;
    font-optical-sizing: auto;
    background-color: var(--color-bg);
    color: var(--color-text);
}

body.lock {
    overflow: hidden !important;
    touch-action: none;
}

body.dragging,
body.dragging * {
    cursor: grabbing !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@layer components {
    .page-container {
        @apply m-auto w-full max-w-4xl px-5 md:px-7.5 xl:max-w-318;
    }

    .sidebar {
        scrollbar-width: none;
    }

    .sidebar::before,
    .sidebar::after {
        position: absolute;
        z-index: 1;
        content: '';
        left: 0;
        width: 100%;
        height: 150px;
        background: linear-gradient(color-mix(in srgb, var(--color-bg) 80%, transparent), transparent);
        pointer-events: none;
        transition: opacity 0.2s;
    }

    .sidebar::after {
        top: auto;
        bottom: 0;
        background: linear-gradient(to top, color-mix(in srgb, var(--color-bg) 80%, transparent), transparent);
    }

    @media (max-width: 1279px) {
        .sidebar::before,
        .sidebar::after {
            display: none;
        }
    }

    .sidebar.sidebar-top-no-fade::before,
    .sidebar.sidebar-bottom-no-fade::after {
        opacity: 0;
    }

    .sidebar-btn::before {
        position: absolute;
        content: '';
        top: 0;
        left: -1px;
        width: 2px;
        height: 100%;
        background-color: var(--color-bg);
    }

    .online::before,
    .online-square::before {
        position: absolute;
        z-index: 1;
        content: '';
        top: 3%;
        right: 3%;
        width: 20%;
        height: 20%;
        border-radius: 50%;
        outline: 3px solid var(--color-bg);
        background-color: var(--color-online);
    }

    .online-square::before {
        top: -10%;
        right: -10%;
    }

    .badge-item {
        font-family: 'Geist Mono', monospace !important;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 15px;
        padding: 2px 4px;
        border-radius: 4px;
        background-color: var(--color-border);
    }
}

.text-base {
    line-height: 1.7rem;
}

pre {
    font-size: 15px;
    line-height: 1.5em;
    max-height: 450px;
    overflow-x: auto;
    scrollbar-width: none;
    font-variant-ligatures: none !important;
    text-rendering: optimizeSpeed;
    background-color: var(--color-code-bg) !important;
    padding: 12px 0;
}

pre,
code {
    font-family: 'Geist Mono', monospace !important;
    font-optical-sizing: auto;
}

code {
    display: grid;
    counter-reset: line;
    min-width: 100%;
    border: 0;
    background: 0 0;
    padding: 0;
    white-space: pre;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

code .line {
    display: inline-block;
    width: 100%;
    padding: 2px 0;
}

code .line::before {
    position: sticky;
    left: 0;
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 64px;
    text-align: right;
    padding-right: 24px;
    color: var(--color-line-number);
    background-color: var(--color-code-bg);
}

code .code-ellipsis {
    border-radius: 6px;
    background-color: var(--color-border);
    padding: 1px;
    margin: 0 4px;
}

@media (max-width: 767px) {
    pre {
        padding: 10px 0;
    }
}
